
*{
padding: 0;
margin: 0;
outline: none;
font-family: 'Switzer', sans-serif;
box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.big-cont{
   padding: 0;
    /* height: 300px; */
    background-color: black;
    color: #fff
}
.container{
    padding: 80px 106px;
    text-align: center;
}

.join{
    margin-top: 120px;
    width: 100%;
    padding: 78px 220px;
    display: flex;
   
}

.join-text{
    width: 50%;
    text-align: start;
    line-height: 30px;
    padding: 20px 20px;
}
.join-text p{
    padding: 20px 0;
    color: #595959;
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
    letter-spacing: normal;
}
.join-text h2{
    line-height: 50px;
    letter-spacing: 2px;
    color: #0d0d0d;
    font-size: 38px;
    
    
}
.join .imgWrapper img{
    width: 500px;
    height: auto;
}
.join button{
    width: 100%;
    margin: 30px 0;
    padding: 20px 0;
}
.main{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 3.5rem;
    line-height: 63px;
    letter-spacing: 2.8px;
}
p{
    font-size: 18px;
    line-height: 30px;
}
