
.container{
    padding: 0px 79px;
    display: flex;
    background: black;
    color: white;    
    height: 88px;
    position: sticky;
    top: 0;
   z-index: 1;
   justify-content: space-between;
}
.logo{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
    justify-content: space-between;
    padding: 40px;
    padding-right: 60px;
}
.logo img{
   
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
     
     filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(297deg) brightness(112%) contrast(101%);
}

.logo>span{
    font-weight: 600;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.menu{
    display: flex;
    justify-content:space-between;
    gap:1rem;
    list-style: none;
    font-size: 14px;
    letter-spacing: 0.7px;
}

.menucontent{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

.location{
    display: inline-flex;
    gap:.25rem;
}

.menucontent:hover{
    background:#0d0d0d;
}

.menu>li:hover{
    color: #13c4a1;
    font-weight: 600;
    cursor: pointer;
}

.inputcall:hover{
    color:white;
    cursor: pointer;
    background: #13c4a1 ;
    
}

.inputcall{
    padding: 0.5rem;
    border-radius:10px;
    border: none;
    width:109px;
    height:57px;
    margin-top: 5px;
}

.inputtuch:hover{
    color:#13c4a1;
    cursor: pointer;
    background:black ;
    
}

.inputtuch{
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    width:156px;
    height:57px;
    margin-top: 5px;

}

a{
    text-decoration: none;
    color: white;
}

.submenu1 {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .submenu1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
  }
  
  .submenu1 ul li {
    padding: 10px;
    text-align: center;
  }
  
  .submenu1 ul li a {
    color: black;
    text-decoration: none;
  }
  
  .menu li:hover .submenu1 {
    display: block;  
  }

  .submenu1 ul li a:hover{
    color:#13c4a1 ;
    font-weight: 600;
  }

  .dropdownList{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;  
  }

  .dropdown ul li{
    padding: 10px;
    text-align: center;
    color: black;
    width:150px;
  }
  
  .location:hover .dropdownList{
    display: block;
  }

.dropdown ul li:hover{
    color: #696969;
    background-color: #f0f0f0;
}
